<div id="container">
  <%- model_class = Petition -%>
  <div class="page-header">
    <h1><%= image_tag("https://s3-us-west-2.amazonaws.com/pastepaste/images/logo.png") %></h1>
  </div>

  <dl class="dl-horizontal">
    <dd style="margin-left: 35px;font-weight: bold; font-size: 22px;"><%= @petition.name %></dd>
    
    <dd style="margin-left: 35px;"><%= @petition.description %></dd>
  </dl>

  <iframe src="<%= @petition.pdf_link %>" style="width:900px; height: 700px;" frameborder="0"></iframe>
</div>

